{% extends "layout/base.html" %}

{% block content %}
   <div class="container-full" id="topofpage">
      <div class="col-lg-12 text-center">
        <h1>Streets Ahead</h1>
      </div>
        <div class="row">
	  <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2>Frequently Asked Questions</h2>
                <h3>Why the name Streets Ahead?</h3>
	        <p>If you have to ask, you're <a href="https://www.youtube.com/watch?v=rf1GSjo4zSY">streets behind</a>.</p>
                <h3>What browsers does the site work in?</h3>
	        <p>Currently it has been tested in Safari 7.0.4 and
                  Chrome 35. Firefox has some trouble.</p>
                <h3>How can I send feedback?</h3>
	        <p>Feel free to <a href="mailto:mattgeorge1+StreetsAhead@gmail.com">email me</a> or
                  send a <a href="https://github.com/mrgeorge/StreetsAhead">pull
                  request</a>.
	        </p>
            </div>
	  <div class="col-lg-2"></div>
        </div>

    </div>
    <!-- /.container-full -->
{% endblock %}
