{% extends "layout/base.html" %}

{% block head %}
  <style>
    body {
      overflow-y: auto;
    }
    #top {
      margin-top: 60px;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div id="top" class="container marketing">

    <!-- START THE FEATURETTES -->

    Hello World

    <!-- /END THE FEATURETTES -->

<!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#top">Back to top</a></p>
      <p>&copy; Shelby Sturgis. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->
{% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
