<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StreetsAhead</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Add custom CSS here -->

    <link href="{{ url_for('static',
    filename='css/stylish-portfolio.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',
    filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
</head>

<body>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>StreetsAhead</h1>
            <h3>
                <em>Pointing you in the right direction</em></h3><br>
            <a href="/test" class="btn btn-default btn-lg">Get Going!</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52170229-1', 'streetsaheadmaps.com');
      ga('send', 'pageview');
    </script>
</body>

</html>
