{% extends "layout/base.html" %}

{% block content %}
<div class="container-full" id="topofpage">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Streets Ahead</h1>
      <iframe src="//www.slideshare.net/slideshow/embed_code/36475405"
        width="597" height="486" frameborder="0" marginwidth="0"
        marginheight="0" scrolling="no" style="border:1px solid #CCC;
        border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;"
        allowfullscreen>
      </iframe>
    </div>
  </div> <!-- /row -->
</div> <!-- /container full -->
{% endblock %}
